<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <mat-label>Your email</mat-label>
      <input
        type="email"
        matInput
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">E-mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be 6 characters long">
      <mat-label>Your password</mat-label>
      <input
        type="password"
        matInput
        ngModel
        name="password"
        required
        minlength="6"
        #pwMyInput="ngModel"><!-- bound to underlined angular object -->
      <mat-hint align="end">{{ pwMyInput.value?.length }}/6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Your birthdate</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary">Submit</button>
  </form>
</section>
<!--<section id="container">-->
<!--  <div id="child1" class="child"></div>-->
<!--  <div id="child2" class="child"></div>-->
<!--  <div id="child3" class="child"></div>-->
<!--</section>-->
